<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{common :: commonHead}">
  <title>전체 사용자 조회</title>
</head>
<body>
<div class="container">
  <div class="d-flex justify-content-between align-items-center mt-5 mb-4">
    <a th:href="@{/admin/home}" class="btn btn-secondary">Back to Admin Home</a>
    <h2 class="text-center flex-grow-1">All Users</h2>
    <div style="width: 100px;"></div> <!-- Spacer for balance -->
  </div>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>User ID</th>
      <th>Email</th>
      <th>Role</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
      <td th:text="${user.id}"></td>
      <td th:text="${user.email}"></td>
      <td>
        <span th:each="role, iterStat : ${user.roles}">
          <span th:text="${role.rolename}"></span>
          <span th:if="${!iterStat.last}">, </span>
        </span>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div th:insert="~{common :: commonScript}"></div>
</body>
</html>
